:root {
    --primaryButtonColor: #2666ab; /* Default color for primary buttons */
    --secondaryButtonColor: #E0E0E0; /* Default color for secondary buttons */
    --primaryButtonHoverColor: #2775c9; /* Hover color for primary buttons */
    --secondaryButtonHoverColor: #cccccc; /* Hover color for secondary buttons */
    --linearGradient1: #006d8c; /*0%*/
    --linearGradient2: #1cb4c6; /*100%*/

}


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    background: linear-gradient(143deg, var(--linearGradient1) 0%, var(--linearGradient2) 100%);
    display: flex;
    justify-content: center; /* Center the .container horizontally */
    align-items: center; /* Center the .container vertically */
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}

.link{
    font-family: "Oswald";
    font-size: 24px;
    color: #324E2E;
    text-decoration: underline;
}

.searchContent {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: stretch;
    height: 100wh;
}

.dashboardContent {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 24px;
    padding-bottom: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Allows elements to wrap onto the next line */
    align-items: center; /* Aligns items vertically in the center */
    position: absolute;
    bottom: 10px; /* Positioned 10px above the bottom of the left-panel */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
}

.dashboardContent > * {
 margin-bottom: 2px;
}

.primaryButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: white;
    font-family: "Overpass";
    font-size: 15px;
    background-color: var(--primaryButtonColor);    border-radius: 8px;
    gap: 12px;
    cursor: pointer;
}
.primaryButton:hover {
    background-color: var(--primaryButtonHoverColor);
}

.addButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: var(--primaryButtonColor);
    color: white;
    font-family: "Overpass";
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.addButton:hover {
    background-color: var(--primaryButtonHoverColor);
}

.tableRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    padding-top: 8px;
    padding-bottom: 8px;
}

.fieldBoxes {
    display: flex; /* Use flexbox for better alignment */
    flex-wrap: nowrap; /* Prevent wrapping */
    align-items: center; /* Align items vertically in the center */
    gap: 10px; /* Space between child elements */
}

#resumeSkillsContainer #skillTypeField {
    width: 20%;
}

#resumeSkillsContainer #addSkillField {
    width: 80%;
}
.commonNameChipContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -6px;
    flex: 1;
    align-items: center;
}
.commonNameChip {
    display: flex;
    flex-direction: row;
    padding: 6px;
    background-color: #F1F1F1;
    font-family: "Overpass";
    color: #31312F;
    font-weight: 400;
    font-size: 15px;
    border-radius: 8px;
    margin-right: 12px;
    margin-bottom: 12px;
}
.commonNameChipButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background-color: #D2D6E0;
    margin-left: 6px;
    cursor: pointer;
}
.commonNameChipButton:hover {
    background-color: #999999;
}

.toggleOptionSelected:hover {
    background-color: #324E2E;
    font-weight: 600;
    color: white;
    cursor: default;
}
.secondaryButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: #31312F;
    font-family: "Overpass";
    font-size: 15px;
    background-color: var(--secondaryButtonColor);
    border-radius: 8px;
    gap: 12px;
    cursor: pointer;
}
.secondaryButton:hover {
    background-color: var(--secondaryButtonHoverColor);
}
.userFieldLabel {
    padding: 16px;
    font-family: "Overpass";
    font-size: 15px;
    font-weight: 600;
    color: #31312F;
    margin-bottom: 6px;
    flex: 1;
}
.userFieldBox {
    border: 1px solid #b7c1ba;
    border-radius:20px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.userTextInput {
    border: none;
    padding: 16px;
    font-family: "Overpass";
    font-size: 15px;
    color: #4F4F4F;
    font-weight: 600;
    flex: 1;
}

.userTextArea {
    overflow-y: hidden;
    width: 100%;
    border-radius: 20px;
    padding-top:15px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
    font-family: "Overpass";
    font-size: 15px;
    color: #4F4F4F;
    font-weight: 600;
    flex: 1;
}

.userTextInput:focus {
    outline: none;
}

.userAddPropertyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: var(--secondaryButtonColor);
    color: #31312F;
    cursor: pointer;
}
.userAddPropertyButton:hover {
    background-color: var(--secondaryButtonHoverColor);
}
.userSection {
    margin-bottom: 24px;
}

.userSectionTitle {
    font-family: "Overpass";
    font-size: 20px;
    font-weight: 600;
    color: #324E2E;
    margin-bottom: 12px;
}

.userAddButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-family: "Overpass";
    font-size: 15px;
    color: white;
    background-color: var(--primaryButtonColor);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
}

.userAddButton:hover {
    background-color: var(--primaryButtonHoverColor);
}

/* Styles for dynamically added education and work experience entries */
.dynamicEntry {
    position: relative;
    overflow: visible; /* Ensure content does not clip */
    background-color: #f5f5f5; /* Slightly grayish background */
    border: 1px solid #F2F2F2;
    padding: 20px;
}

.entryDeleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background-color: #D2D6E0;
    cursor: pointer;
    z-index: 10; /* Ensure it's above other content */
}

.entryDeleteButton:hover {
    background-color: #999999;
}

.popupContainer {
    display: none; /* Hidden by default */
    position: absolute; /* Position relative to the left-panel */
    left: 0;
    top: 0;
    width: 100%; /* Full width of the left-panel */
    height: 100%; /* Full height of the left-panel */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    z-index: 1000; /* Sit on top */
    border-radius: 0; /* Adjust as needed */
}

.popupContent {
    background-color: #fefefe;
    margin: 10% auto; /* Adjust as needed for centering */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust as needed */
    border-radius: 10px;
    /* ... other existing styles ... */
}
.fieldRow2 {
    display: flex;
    justify-content: center; /* Vertical alignment */
    align-items: center; /* Horizontal alignment */

}

.fieldRow2 .userFieldBox {
    width: 50%; 
}

.fieldRow3 {
    display: flex;
    justify-content: space-between;
}

.fieldRow3 .userFieldBox {
    width: 33%; /* Adjust the width to slightly less than 33% to account for any padding/margins */
}

.gridFormContainer {
    display: grid;
    grid-template-columns: min-content 1fr min-content 1fr; /* Adjusts column widths */
    grid-gap: 10px; /* Adjust space between grid items */
}

.userFieldLabel, .userFieldBox {
    margin-bottom: 10px; /* Spacing for label and input box */
}

.gridLanguageContainer {
    display: grid;
    grid-template-columns: min-content 1fr; /* Two columns: one for label and one for input */
    grid-template-rows: auto auto; /* Two rows: one for the first line and one for the second */
    grid-gap: 10px; /* Spacing between grid items */
    align-items: center; /* Aligns items vertically */
}

.gridLanguageContainer .userFieldLabel {
    grid-column: 1 / 2; /* Places label in the first column */
    grid-row: 1 / 2; /* Places label in the first row */
}

.gridLanguageContainer .userFieldBox {
    grid-column: 2 / 3; /* Places input box in the second column */
    grid-row: 1 / 2; /* Places input box in the first row */
    display: flex; /* Ensures input and button are in a line */
    align-items: center; /* Aligns items vertically in the box */
}

.gridLanguageContainer #languageChipContainer {
    grid-column: 1 / 3; /* Spans across both columns */
    grid-row: 2 / 3; /* Placed in the second row */
}

.container {
    width: 85%;
    height: 85%; /* Adjust the height as needed */
    min-width: 1000px; /* Minimum width */
    display: flex;
    flex-direction: row; /* Ensure panels are laid out horizontally */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better contrast */
    overflow: hidden; /* In case the content overflows */
    border-radius: 20px; /* Rounded corners */
    z-index: 1;
}

.left-panel, .right-panel {
    flex: 1; /* Each panel takes up an equal amount of space */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 300px; /* Minimum width to prevent squishing too much */
}

.left-panel {
    width: 50%;
    background-color: rgba(242, 242, 242, 0.6); /* 50% transparency */
}

.right-panel {
    width: 50%;
    flex-direction: column;
    background-color: rgba(242, 242, 242, 0.3); /* 50% transparency */
}

#pdf-viewer {
    width: 100%; /* Full width of the right panel */
    height: 100%; /* Full height of the right panel */
    border: none; /* Remove any border */
}

.backgroundParticles {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
}


.spinner-container {
    display: flex; /* Aligns the buttons and value display in a row */
    width: auto;
  }
  

  .spinner-button-left:disabled, .spinner-button-right:disabled {
    background-color: #CCCCCC; /* Gray color for disabled buttons */
    color: #666666; /* Darker text color for disabled buttons */
  }
  
  .start, .generate, .spinners {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.start > *, .generate > *, .spinners > .spinner-container {
    flex: 1; /* This makes each direct child of .generate and each .spinner-container in .spinners take equal space */
    height:40px;
    width:170px;
}

  .spinner-button,
  .spinner-value {
    flex: 17 0 0; /* flex-grow is 6, flex-basis is 0 */
    margin: 0; /* Removes space between the elements */
    padding: 12px; /* Matches the primaryButton padding */
    border: none; /* Removes border */
    text-align: center; /* Center text alignment for multi-line text */
    font-family: "Overpass"; /* Matches the font of primaryButton */
    cursor: pointer; /* Adds the pointer cursor to buttons */
  }

  .spinner-value {
    background-color: var(--secondaryButtonColor); /* Uses the secondary button color variable */
    color: #31312F; /* Sets text color to match secondaryButton text */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0px;
    flex-direction: row;
    font-size: 13px;
    font-weight: 550; /* Makes the text bolder */

  }
  
  .spinner-button-left, .spinner-button-right {
    flex: 1 0 0; /* flex-grow is 1, flex-basis is 0 */
    background-color: var(--primaryButtonColor); /* Uses the primary button color variable */
    color: white; /* Sets text color to white */
    border-radius:0px;
  }

  .spinner-button-left {
    border-bottom-left-radius: 8px; /* Rounds the bottom left corner */
    border-top-left-radius: 8px; /* Rounds the bottom left corner */
  }
  .spinner-button-right {
    border-bottom-right-radius: 8px; /* Rounds the bottom left corner */
    border-top-right-radius: 8px; /* Rounds the bottom left corner */
  }

  .indexDesc {
    font-family: 'Overpass', sans-serif; /* Consistent with the rest of your design */
    line-height: 1.6; /* This is generally a good line height for readability */
    color: #31312F; /* Setting a readable color */
    margin: 20px 0; /* Adds some space outside, above and below the div */
    max-width: 90%; /* Use percentage for max-width */
    margin: auto; /* Centers the div if max-width is set */
    position: relative; /* Needed for absolute positioning of children */
    font-weight: 450;
    font-size: 18px; /* Adjust to your preference */
}
    .indexDesc #textLogo {
    width: 70%; /* 60% of the parent element's width */
    display: block; /* Makes it a block-level element */
  }